<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"
        default-lazy-init="true">

	<description>Spring公共配置 </description>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.yonyou.iuap,uap.iweb">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

    <!-- 使用disconf必须添加以下配置 -->
    <bean id="disconfMgrBean" class="com.yonyou.iuap.disconf.client.DisconfMgrBean" destroy-method="destroy">
        <property name="scanPackage" value="com.yonyou.iuap"/>
    </bean>
    
    <bean id="disconfMgrBeanSecond" class="com.yonyou.iuap.disconf.client.DisconfMgrBeanSecond" 
    	  init-method="init" destroy-method="destroy" lazy-init="false">
    </bean>

    <!-- 使用托管方式的disconf配置(无代码侵入, 配置更改会自动reload)-->
    <bean id="configproperties_disconf" class="com.yonyou.iuap.disconf.client.addons.properties.ReloadablePropertiesFactoryBean">
        <property name="locations">
            <list>
            	<!--目前只支持classpath下托管配置文件，文件格式包括.properties和.xml-->
                <value>classpath:simpledemo.properties</value>
                <value>classpath:application.properties</value>
                <value>schema-mapping.xml</value>
            </list>
        </property>
    </bean>
    <bean id="disconfPropertyConfigurer" class="com.yonyou.iuap.disconf.client.addons.properties.ReloadingPropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="propertiesArray">
            <list>
                <ref bean="configproperties_disconf"/>
            </list>
        </property>
        <property name="systemPropertiesMode" value="2"></property>
    </bean>
	
	<!--原配置方式-->
	<!--
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:/application.properties</value>
            </list>
        </property>
        <property name="systemPropertiesMode" value="2"></property>
    </bean>
	-->
</beans>
