.functionactivity {
  /*新增css*/
  /*搜索区域*/
  /*左边财务期间区域*/
}
.functionactivity .demoe-page-content {
  padding: 0;
  border: 1px solid #E0E0E0;
  margin-top: 0px;
}
.functionactivity .demo-actions .u-button {
  margin: 0 4px;
}
.functionactivity .demo-datagrid {
  width: 100%;
}
.functionactivity .demo-card {
  padding: 32px;
}
.functionactivity .demo-card-wide {
  width: 100%;
  box-shadow: none;
  border: 1px solid #e0e0e0;
}
.functionactivity .u-table-editable .u-text {
  width: 39px;
}
.functionactivity .u-table-editable .not-focused .u-input {
  border: none;
}
.functionactivity .u-table-editable .not-focused .u-text:after {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.functionactivity .u-table-editable .not-focused .table-line-save-btn,
.functionactivity .u-table-editable .not-focused .table-line-cancel-btn {
  display: none;
}
.functionactivity .u-table-editable .is-focused .table-line-edit-btn,
.functionactivity .u-table-editable .is-focused .table-line-del-btn {
  display: none;
}
.functionactivity .demo-actions-float {
  position: fixed;
  top: 66px;
  right: 76px;
}
.functionactivity .demo-line-button {
  color: #fff!important;
  background-color: #2196f3;
  font-size: 12px;
  border: none;
}
.functionactivity ul,
.functionactivity ol,
.functionactivity dl {
  margin: 0;
  padding: 0;
}
.functionactivity td {
  text-align: center;
}
.functionactivity th {
  text-align: center;
}
.functionactivity .checkbox {
  margin: 0;
}
.functionactivity .title {
  background: #F7f7f7;
  height: 35px;
}
.functionactivity .title h4 {
  padding-left: 16px;
  margin: 0;
  width: auto;
  height: 35px;
  line-height: 35px;
  color: #333;
  float: left;
}
.functionactivity .title h4 span {
  color: #ed4047;
}
.functionactivity .title ul {
  width: 538px;
  margin: 6px 0;
}
.functionactivity .title ul li {
  float: left;
  width: 100px;
  height: 22px;
  line-height: 22px;
  background: #E6e6e6;
  margin-left: 5px;
  text-align: center;
  color: #333;
  border: 1px solid #dfdfdf;
}
.functionactivity .title ul li:hover {
  background: #ED4047;
}
.functionactivity .title ul li:hover a {
  color: #fff;
}
.functionactivity .title ul li.liAct {
  background: #ED4047;
}
.functionactivity .title ul li a {
  color: #333;
}
.functionactivity .searchDiv {
  padding: 10px 20px;
  margin: 5px 15px;
  border: 1px solid #E0E0E0;
}
.functionactivity .searchDiv .queryCondition li {
  float: left;
  width: 30%;
}
.functionactivity .searchDiv .queryCondition li dl {
  width: 100%;
  height: 28px;
}
.functionactivity .searchDiv .queryCondition li dl dt {
  float: left;
  width: 30%;
  text-align: right;
  height: 28px;
  line-height: 28px;
  font-weight: normal;
}
.functionactivity .searchDiv .queryCondition li dl dd {
  float: left;
  width: 70%;
}
.functionactivity .searchDiv .queryCondition li dl dd input {
  width: 100%;
  border: 1px solid #ccc;
  height: 28px;
  line-height: 28px;
}
.functionactivity .searchDiv .queryBtn {
  margin-top: 20px;
}
.functionactivity .searchDiv .queryBtn li {
  float: left;
  width: 61px!important;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  background: #ED4047;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
}
.functionactivity .searchDiv .queryBtn li a {
  color: #fff;
}
.functionactivity .searchDiv .queryBtn li.addIcon {
  background: #ED4047 url(../pageImages/addIcon.png) center center no-repeat;
}
.functionactivity .ztree {
  border: 1px solid #E0E0E0;
}
.functionactivity .ztree li span.button.root_close {
  line-height: 25px;
}
.functionactivity .ztreeHeader {
  height: 30px;
  background: #fb6e52;
  position: relative;
}
.functionactivity .ztreeHeader .searchIcon {
  position: absolute;
  left: 5px;
  top: 3px;
}
.functionactivity .ztreeHeader .searchIcon img {
  padding: 0 5px;
  /*border-left:1px solid #ecf0f1;*/
  /*border-right:1px solid #ecf0f1;*/
}
.functionactivity .ztreeHeader .searchIcon .partingLineL {
  height: 16px;
  width: 1px;
  background: #ecf0f1;
  float: left;
  margin-top: 4px;
}
.functionactivity .ztreeHeader .searchIcon .partingLineR {
  height: 10px;
  width: 1px;
  background: #ecf0f1;
  float: right;
  margin-top: 8px;
}
.functionactivity .ztreeHeader input {
  background: #fb6e52;
  padding-left: 50px;
  padding-top: 1px;
  color: #fff;
  text-align: center;
  width: 200px;
  border: 0;
  height: 30px;
  line-height: 30px;
}

.bterfunc .ztree li span.button {
  background-image: none;
}
.bterfunc .ztree li a.curSelectedNode {
  color: #ed4047;
}
.bterfunc .ztree li a {
  height: 100%;
}
.bterfunc .ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}
.bterfunc .ztree li a {
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 30px;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}
.bterfunc .ztree li a:hover {
  text-decoration: underline;
  color: #3949AB;
  background-color: #eee;
}
.bterfunc .ztree li span.button.ico_docu {
  height: 100%!important;
  line-height: 25px!important;
}
.bterfunc .ztree li span.button.ico_docu:after {
  top: 0!important;
}
.bterfunc .ztree li span.button {
  background: none;
}
.bterfunc .ztree li span.button.switch.noline_close:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  top: 10px;
  font-size: 16px;
}
.bterfunc .ztree li span.button.switch.noline_open:after {
  content: "\f107";
  font-family: 'FontAwesome';
  position: absolute;
  top: 10px;
  font-size: 16px;
  left: 5px;
}

