<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5"  metadata-complete="true">
	<display-name>DispatchClientServlet</display-name>
	
	
	<servlet>
  	<servlet-name>DispatchClientServlet</servlet-name>
 	<servlet-class>com.yonyou.iuap.dispatch.client.controller.DispatchClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DispatchClientServlet</servlet-name>
  	<url-pattern>/dispatchClientServlet</url-pattern>
  </servlet-mapping>

	
  
</web-app>