<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-lazy-init="false">

    <description>Spring公共配置</description>

    <context:property-placeholder system-properties-mode="OVERRIDE" ignore-unresolvable="true"
                                  location="classpath*:/application.properties"/>

    <bean id="msgSender" class="com.yonyou.iuap.spring.netty.client.NettySender">
    </bean>

    <bean id="msgClient" class="com.yonyou.iuap.spring.netty.client.MsgClient" init-method="init">
        <property name="sender" ref="msgSender"/>
    </bean>

    <bean id="searcClient" class="com.yonyou.iuap.search.processor.SearchClient">
        <property name="messageSender" ref="msgSender"/>
    </bean>

</beans>
